@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #FDD5BC, #A65151);
    }

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #33161aa4;
    width: 600px;
    padding: 10px;
    margin: auto;
    }

h1{
    color:#662424;
    text-align: center;
    text-shadow: 1px 1px 2px #291215b2;
}
h2{
    color: #00403F;
}

p{
    text-align: justify;
 }
